[submodule "libs/anitomy"]
	path = libs/anitomy
	url = https://github.com/gamedeff/anitomy.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/gamedeff/imgui.git
[submodule "libs/poco"]
	path = libs/poco
	url = https://github.com/gamedeff/poco.git
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/gamedeff/pugixml.git
